:root{
 --color-primario:#003476;
 --color-secundario: #b4d2f7;
 --header-size: 4rem;
 --font: 1.8rem; 
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

header{
    width: 100vw;
    height: 15vh;
    background-color: var(--color-primario);
}

main{
    width: 100vw;
    height: 70vh;
    font-size: var(--font);
}

h1{
    font-size: var(--header-size);
    color: var(--color-secundario);
    

}

footer{
    width: 100vw;
    height: 15vh;
    background-color:var(--color-secundario);
}